h1  {
    color: aqua
    ;
}
h3 {

color:yellow

}
nav 

    ul  
        display: flex
        flex-direction: row 
        justify-content: center;
    {}
            text-decoration: none
            color :

.info-button {
    background-color: red 
    &:hover {